## Análisis de accidentes - Buses

### Area metropolitana del Valle de Aburrá

Manuela Cordoba

Alejandro Fernandez

Ana María Jaramillo

In [2]:
import pandas as pd
import config

In [3]:
vehiculos_2013_2023 = pd.read_excel(config.BASE_DATOS_INICIAL)
print("Data shape before filtering: ", vehiculos_2013_2023.shape)
vehiculos_2013_2023.head()

Data shape before filtering:  (741858, 16)

,NRO_RADICADO,AÑO_ACCIDENTE,CLASE_ACCIDENTE,GRAVEDAD_ACCIDENTE,CLASE_VEHICULO,TIPO_SERVICIO,MARCA,MODELO,ZONA,Diseño,EDAD_CONDUCTOR,SEXO,Mes,Día,Num Día,Hora
0,1474935,2015,Choque,SOLO DAÑOS,AUTOMOVIL,PARTICULAR,FORD,2011.0,ZONA DESCONOCIDA,Tramo de via,45,Masculino,Feb,Fri,6,7
1,1474935,2015,Choque,SOLO DAÑOS,MOTOCICLETA,PARTICULAR,AKT,2000.0,ZONA DESCONOCIDA,Tramo de via,45,Sin inf,Feb,Vie,6,7
2,1503730,2015,Otro,HERIDO,MOTOCICLETA,PARTICULAR,YAMAHA,2010.0,Jurisdicción,Tramo de via,24,Masculino,Sep,Jue,10,15
3,1503732,2015,Atropello,HERIDO,MOTOCICLETA,DESCONOCIDO,NaN,NaN,Jurisdicción,Tramo de via,35,Masculino,Sep,Dom,13,15
4,1503734,2015,Atropello,HERIDO,MOTOCICLETA,PARTICULAR,AUTECO,2010.0,Jurisdicción,Tramo de via,48,Masculino,Sep,Lun,14,15

In [4]:
solo_buses_2013_2023 = vehiculos_2013_2023[
    vehiculos_2013_2023["CLASE_VEHICULO"].isin(config.TYPE_BUSES)
]
print("Data shape after filtering: ", solo_buses_2013_2023.shape)
solo_buses_2013_2023.head()

Data shape after filtering:  (67041, 16)

,NRO_RADICADO,AÑO_ACCIDENTE,CLASE_ACCIDENTE,GRAVEDAD_ACCIDENTE,CLASE_VEHICULO,TIPO_SERVICIO,MARCA,MODELO,ZONA,Diseño,EDAD_CONDUCTOR,SEXO,Mes,Día,Num Día,Hora
8,1503738,2015,Otro,HERIDO,BUSETA,PUBLICO,DAIHATSU,2005.0,Jurisdicción,Tramo de via,47,Masculino,Sep,Lun,14,15
15,1503742,2015,Choque,SOLO DAÑOS,BUSETA,PUBLICO,CHEVROLET,2006.0,Jurisdicción,Tramo de via,43,Masculino,Sep,Lun,14,4
19,1503744,2015,Choque,SOLO DAÑOS,BUSETA,PUBLICO,AGRALE,2008.0,Jurisdicción,Tramo de via,25,Masculino,Sep,Lun,14,2
25,1503748,2015,Atropello,HERIDO,BUS,DESCONOCIDO,NaN,NaN,Jurisdicción,Tramo de via,45,Sin inf,Sep,Lun,14,13
27,1501862,2015,Otro,HERIDO,BUSETA,PUBLICO,CHEVROLET,1995.0,Jurisdicción,Tramo de via,35,Masculino,Sep,Mar,1,7

In [5]:
solo_buses_unique_radicados = pd.DataFrame(
    solo_buses_2013_2023["NRO_RADICADO"].unique()
)
print("Total of accidents involving buses: ",len(solo_buses_unique_radicados))

Total of accidents involving buses:  62642

In [6]:
solo_buses_unique_radicados.to_excel(config.LISTA_UNICOS_RADICADOS_BUSES, index=False)